@charset "UTF-8";

/* Classes e IDs */

#principal {
   background: rgb(255, 255, 255);
   padding: 75px 75px 20px 75px;
   border-radius: 4px;
   width: 85%;
   max-width: 500px;
   margin: 60px auto 50px auto;
   box-shadow: 3px 3px 15px black;
}

#titulo-principal {
   color: rgb(255, 238, 238);
   text-align: center;
   margin-top: 100px;
}

#footer {
   color: rgb(255, 235, 235);
}

.botao {
   padding: 10px 30px;
   font-size: 20px;
   color: #5c0000;
}

.forms {
   border: 2px solid #949494;
   border-radius: 4px;
}

.adicionar {
   width: 100%;
}

/* Painel Secundario */
#secundario {
   background: rgb(255, 255, 255);
   padding: 50px 75px 50px 75px;
   border-radius: 4px;
   width: 85%;
   max-width: 1000px;
   margin: 40px auto 30px auto;
   box-shadow: 3px 3px 15px black;
}

/* Tabela */
#tabela {
   display: grid;
   grid-template-columns: repeat(3, 3fr);
   grid-template-rows: repeat(auto, 30px);
   background: rgb(255, 248, 248);
   padding: 40px;
   border-radius: 4px;
   width: 85%;
   max-width: 900px;
   margin: 10px auto 10px auto;
   box-shadow: 1px 1px 5px black;
}

#divisor {
   grid-column: 1 / -1;
   width: 100%;
}

#resultado {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(3, 3fr);
}

.botaoPesquisar {
   grid-column: 1 / -1;
   width: 98.7%;
}

.mostrarTabela {
   grid-column: 1 / -1;
   width: 100%;
}

/* Estilos Gerais */

body {
   margin: 0px;
   background: rgb(212, 52, 52);
   font-family: Arial;
   font-size: 20px;
   margin-top: 75px;
   text-align: center;
}

footer {
   margin-top: 150px;
   margin-bottom: 50px;
   color: white;
   text-align: center;
   font-size: 18px;
}

h1 {
   font-size: 45px;
}

h2 {
   font-size: 21px;
   margin: 2px;
   color: #4d0000;
}

p {
   color: #585858;
}

a {
   color: white;
   text-decoration: none;
}

img {
   width: 100%;
}

input {
   padding: 10px 0px 10px 10px;
   font-size: 18px;
   margin: 5px 30px 30px 0px;
   width: 97.3%;
}
